*{
  padding: 0px;
}
/*Navigation*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  margin-top: -25px;
}
.logo img{
  border-radius: 46px;
}

.logo img{
  height: 137px;
  width: 170px;
}
nav ul li{
  list-style-type: none;
  margin-left: 8px;
  margin-right: 3px;
  padding: 8px;
  display: inline-block;
  box-sizing: border-box;
  border-color: black;
  border-radius: 10px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


}
nav ul li a {
  text-decoration: none;
  color: black;
}

/*Main Section*/

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align:center;
  font-family: Bradley Hand, cursive;
  font-weight: bold;
  font-size: 23px;
  color: #8A2BE2 ;
}
 h1:after, h1:before {
  content: " ";
  display: block;
}
.Intro{
  text-align: justify;
  padding: 5px;
  font-size: 21px;
  color: #DB7093;
}

/*Course Section*/
i{
  display: inline-block;
}
.h2{
  margin-left: 4px;
}
.courselist h2{
  text-align: center;
}
.courselist ul{
  display: inline-block;
  list-style: none;
  margin-left: 35px;
  margin-top: -10px;
  text-align: left;
  font-size: 17px;
}

.courselist{
  position: relative;
  width: 75%;
}
.coursebox{
  position: relative;
  width: 40%;
  left: 5%;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #778899;
  text-align: center;
  padding: 5px;
  border-radius: 35px;
}
.coursebox:nth-child(2n){
  left: 53%;
}

.divider{
  position: absolute;
  height: 80vh;
  width: 0;
  border: 3px dashed black;
  top: 2%;
  left: 50%;
}
.Race{
  position: sticky;
  transform: rotate(90deg);
  z-index: 2;
}

.Teacher{
  padding: 25px;
  margin-bottom: -10px;
}

.TutorIntro{
  display: flex;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px,0px,5px black;
  background-color: whitesmoke;
  padding: 5px;
}
 .tutorimg img{
  width:15vw;
  align-items: center;
  padding: 0px;
  
  
}
.Tutor_Intro{
  padding: 2px;
  text-align: justify;
  font-size: 21px;
  color: #DB7093 ;
  width: 100vw;
  margin-top: -0.1px;
  line-height: 1.23;
}

