*{
  padding: 0px;
}
/*Navigation*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  box-sizing: content-box;
  box-shadow: 0px 0px 8px black;
  border-radius: 12px;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.logo img{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.logo img{
  height: 117px;
  width: 150px;
  padding: 3px;
  box-sizing: content-box;
  box-shadow: 0px 0px 10px black;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}
nav ul li{
  list-style-type: none;
  margin-left: 8px;
  margin-right: 5px;
  padding: 8px;
  display: inline-block;
  box-sizing: border-box;
  border-color: black;
  border-radius: 10px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


}
nav ul li a {
  text-decoration: none;
  color: black;
}

/*Main Section*/

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align:center;
  font-family: Bradley Hand, cursive;
  font-weight: bold;
  font-size: 23px;
  color: #8A2BE2 ;
  text-transform: uppercase;
}
 h1:after, h1:before {
  content: " ";
  display: block;
}
.Intro{
  text-align: justify;
  padding: 5px;
  font-size: 22px;
  color: Black;
  line-height: 31px;
  word-spacing: 2.5px;
  font-weight: bolder;
}

/*Course Section*/
i{
  display: inline-block;
}
.h2{
  margin-left: 4px;
}
.courselist h2{
  text-align: center;
}
.courselist ul{
  display: inline-block;
  list-style: none;
  margin-left: 35px;
  margin-top: -10px;
  text-align: left;
  font-size: 20px;
}

.courselist{
  position: relative;
  width: 75%;
}
.coursebox{
  position: relative;
  width: 40%;
  left: 5%;
  box-sizing: content-box;
  box-shadow: 0px 0px 5px #778899;
  text-align: center;
  padding: 5px;
  border-radius: 35px;
}
.coursebox:nth-child(2n){
  left: 53%;
}

.divider{
  position: absolute;
  height: 75vh;
  width: 0;
  border: 3px dashed black;
  top: 2%;
  left: 50%;
}
.Race{
  position: static;
  transform: rotate(90deg);
  z-index: 2;
}

#tutor {
  padding: 10px;
  margin-top: 70px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #DB7093;
  border-radius: 32px;
  margin-left: 5px;
  margin-right: 5px;
}
.flexd{
  display: flex;
}
.tutorPh img{
  width: 150px;
  border-radius: 12px;
  padding: 5px;
  margin-top:9.5px;
  box-sizing: content-box;
  box-shadow: 0px 0px 5px black;
}
.tutordescrption{
    text-align: justify;
    font-size: 22px;
    margin-top: -23px;
    padding: 5px;
    color: black;
    font-weight: bolder;
    line-height: 31px;
    word-spacing: 2.5px;
    margin-left: 5px; 
}
 #tutor{
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
